.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 400px;
  width: 300px
}
.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}
.bottom {
  text-align: center;
  font-weight: 400;
}

.orderNumber {
  font-weight: 400;
  font-size: 100px;
  line-height: 100px;
  font-family: 'Iceland';
  font-style: normal;
}

.image {

  width: 100px;
  height: 100px;
  margin: 50px;
  
}

.waitin {
  font-size: large;
  font-family: 'Iceland';
  font-style: normal;
}