.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text{
  color: #1a1acf;
  text-decoration: none;
  font-family: 'JetBrains Mono';
  margin-left: 10px;
}

.alreadyReg {
  color: #8585AD;
}