
.section {
    font-family: 'JetBrains Mono';
    margin-left: 200px;
    
    
}

.allInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    justify-content: space-between;
    
}


.number{
    color: #00CCCC;
font-size: 40px;
font-weight: 300;
line-height: 24px;
letter-spacing: 0em;
max-width: 200px; 
display: inline-block;
grid-template-columns: repeat(10, auto);
font-family: 'Iceland';


}


.numberProgress{
    color: #FFF;
    font-size: 40px;
font-weight: 300;
line-height: 24px;
letter-spacing: 0em;
max-width: 200px; 
display: inline-block;
grid-template-columns: repeat(10, auto);
font-family: 'Iceland';
}

.doneOrder {
    display: flex;
    flex-direction: column;
    font-size: 144px;
    font-weight: 400;
    line-height: 120px;
    letter-spacing: 0em;
    text-align: left;
    text-shadow: 0 0 10px rgba(80, 80, 255, 0.5), 0 4px 20px rgba(80, 80, 255, 0.5);
    font-family: 'Iceland';


}

.readyColumn{
    display: flex;
    flex-direction: column;
    display: inline-block;
grid-template-columns: repeat(10, auto);
font-family: 'Iceland';
}
