.main {
  padding: 30px 0;
  font-family: "JetBrains Mono";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contactsRow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;

  width: 100%;

  @media screen and (max-width: 1100px) {
    gap: 20px;
    flex-direction: column;
  }
}

.contactsRow > * {
  flex: 1 1 30%;
}

.lastElements {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  gap: 40px;
}

.first {
  display: flex;
}

.imageSize {
  width: 32px;
  height: 32px;
}

.contactWrapper,
.supportLink {
  display: flex;
  gap: 10px;
}

.contactsText,
.supportLinkText,
.button,
.supportLink {
  color: #8585ad;

  display: flex;
  align-items: center;
  text-decoration: none;
}

.button {
  display: inline-flex;
  gap: 12px;
  align-items: center;
}

.button:hover,
.contactsText:hover,
.supportLinkText:hover,
.closeButton:hover {
  cursor: pointer;
  text-decoration: underline;
}

.modal {
  z-index: 1000;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.closeButton {
  display: flex;
  background-color: #000000;
  padding-top: 5px;
  padding-bottom: 5px;
}

.modalContent {
  display: flex;
  flex-direction: column;
}
