.main {
  padding: 50px 0;
  font-family: "JetBrains Mono";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contactsRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  gap: 100px;

  width: 100%;

  @media screen and (max-width: 800px) {
    gap: 30px;
  }
  @media screen and (max-width: 1100px) {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}

.imageSize {
  width: 64px;
  height: 64px;
}

.contactWrapper,
.supportLink {
  display: flex;
  gap: 10px;
}

.contactsText,
.supportLinkText,
.button,
.supportLink {
  color: #8585ad;

  display: flex;
  align-items: center;
  text-decoration: none;
}

.button {
  display: inline-flex;
  gap: 12px;
  align-items: center;
}

.button:hover,
.contactsText:hover,
.supportLinkText:hover {
  cursor: pointer;
  text-decoration: underline;
}
