.header {
  padding: 16px 0;
  background-color: #1245;
  font-family: 'JetBrains Mono';
  
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  gap: 50px;

height: 56px;
top: 16px;
left: 320px;

}

.logo {
  margin: 0 auto;
}

.button {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
}


.buttonText {
  margin-left: 8px;
  text-decoration: none;
  color: #8585AD;
}

.buttonThree {
  margin-right: 0;
  margin-left: auto;
  text-decoration: none;
}

.buttonTextOne {
  margin-left: 8px;
}

.active {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.noActive{
  color:#8585ad;
    text-decoration: none;
    display: flex;
    align-items: center;
}



.profile{

font-family: 'JetBrains Mono';
font-size: 16px;
text-decoration: none;
color: #8585AD;
display: inline-flex;
align-items: center;


}