.navLinkActive {
  color: #fff;
  text-decoration: none;
}

.navLinkInactive {
  color: #8585ad;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 40px;
  text-decoration: none;
  font-size: 24px;
}

.text {
  color: #8585ad;
  opacity: 0.4;
  padding-top: 10px;
  font-size: 18px;
  font-family: "JetBrains Mono";
}

.buttons {
  font-family: "JetBrains Mono";
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 15px;
}
